.multiselect-container{
  margin: 1rem auto 2rem;
  width: 20rem;
  min-height: 10rem;
}

.tags-container{
  margin: 0.4rem 0;
  display: inline;
}

.tag{
  background-color: #f2f2f2;
  display: inline-block;
  margin:0.2rem;
  padding: 0.3rem;
}

.tag-text{
  padding: 0.5rem;
}

.tag-close{
  cursor:pointer;
  padding-right: 0.5rem;
}

.multiselect-input{
  border: #adadad 2px solid;
  width: 19.5rem;
  height: 1.4rem;
}

.multiselect-categories-container{
  width: 20rem;
  position: absolute;
  background-color: #989494;
  color: #fff;
  z-index: 1;
}