.pagination-container{
  display: flex;
  margin:3rem 0 4rem 0;
  flex-direction: column;
}

.pagination-previous{
  cursor:pointer;
  margin-right: 1rem;
}

.pagination-next{
  cursor:pointer;
  margin-left: 1rem;
}

.pagination-navigation{
  justify-content: center;
  display: flex;
  flex-direction: row;
}

.pagination-page-number{
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}